
button {
   font-weight: bold;
   border: 2px solid #000000;
   border-radius: 20px;
   height: 35px;
   width: 125px;
}

button:hover {
   background-color: black;
   color: white;
   font-size: 101%;
}